body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #121212;
  font-family: "vazir";
  color: white;
  height: 90vh;
}
.btns {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#timer {
  font-size: 48px;
  margin: 20px;
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 17px;
  background: rgb(30, 77, 69);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
button:active {
  background: rgb(153, 255, 0);
}
h1 {
  font-weight: 100;
}
a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 592px) {
  h1{
    font-size: 20px;
  }
  p{
    font-size: 14px;
  }
  button{
    width: 100px;
    height: 45px;
    font-size: 15px;
    padding: 0;
    margin: 10px;
  }
  .github{
    width: 180px;
  }
}